<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<title>YammerWall</title>
	<link rel="stylesheet" href="/styles/web.css" type="text/css">
	<script type="text/javascript" src="/js/jquery-1.3.min.js"></script>
	<script type="text/javascript" src="/js/date.js"></script>
	<script type="text/javascript" src="/js/date-en-us.js"></script>
	<script>
		$(document).ready(function() {
		  $('#logos').click(function() {
		    $('#description').toggle(400);
		    return false;
		  });
		});
	</script>


</head>
<body>
	<span class="yammerfall">

	<div class="message" id="logos">
	</div>
	</span>
		
	{% block mainpanel %}
	{% endblock %}
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25461006-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</body>

</html>